[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"
flask-swagger-ui = "*"
pytest = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
